.tagify.input {
	height: auto;
}

.tagify .tagify__input::before {
	content:'\feff';
}

.input-span {
	min-width: 110px;
}

.input-span::before {
	content: '\feff';
}

.input-span:focus {
	outline: 0px solid transparent;
}

body {
	margin-left: 1.4em;
	margin-right: 1.4em;
}

.note-display .note-text {
	text-align: justify;
}

.page-content {
	margin-top: 1.5em;
}