<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',
			filename='bulma.min.css') }}">
	</head>
	<body>
		{% block body %}
		<div class="page-content">
			{% block content %}
			<div class="columns">
				{% block columns %}
				<div class="column is-half-desktop is-offset-one-quarter-desktop is-8-tablet is-offset-2-tablet">
					{% block navbar %}
					<nav class="breadcrumb">
						<ul>
							<li id="home_nav_li"><a href="{{ url_for('home') }}">Home</a></li>
							{% block breadcrumbs %}
							{% endblock %}
						</ul>
					</nav>
					{% endblock %}
					{% block singlecol %}
					{% endblock %}
				</div>
				{% endblock %}
			</div>
			{% endblock %}
		</div>
		{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',
			filename='styles.css') }}">
	</body>
</html>